openapi: 3.0.0
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/support
  description: The MDES Customer Service API provides our Issuer partners with resources
    to help resolve consumer queries about payment accounts enabled through our digitization
    platform.
  title: Mastercard Digital Enablement Service Customer Service API
  version: 2.1.7
servers:
- description: Sandbox server
  url: https://sandbox.api.mastercard.com/mdes/csapi
- description: MTF server
  url: https://api.mastercard.com/mdes/csapi/mtf
- description: Production server
  url: https://api.mastercard.com/mdes/csapi
tags:
- description: Retrieves information associated with one or more tokens.
  name: Search
- description: Performs the first time activation of a token.
  name: Token Activate
- description: Updates data belonging to one or more tokens.
  name: Token Update
- description: Changes a token state from active to suspended.
  name: Token Suspend
- description: Changes a token state from suspended to active.
  name: Token Unsuspend
- description: Deletes a token.
  name: Token Delete
- description: Displays a token's previous statuses and lifecycle changes.
  name: Token Status History
- description: Displays comments previously submitted on a token.
  name: Token Comments
- description: Displays transactions performed with the token at any POI (Point of
    Interaction).
  name: Transactions
- description: Used to retrieve the available Activation Methods for a token that
    is awaiting activation.
  name: Token Activation Methods
- description: Initiates the sending of the Activation Code for a specific token to
    the account holder.
  name: Token Resend Activation Code
- description: Changes the Assurance Level of an eligible token.
  name: Update Token Assurance
- description: Requests the reset of the PIN associated with a Mastercard Cloud-Based
    Payment token.
  name: Token Reset Mobile PIN
- description: Disables one or more payment channels associated with a token in the
    India market.
  name: Disable Payment Channels
- description: Searches for Token Requestor Information
  name: Token Requestor Search
paths:
  /{id}/search:
    post:
      description: |
        Provides the ability to search for tokens based on Account PAN, Alternate Account Identifier, Token Unique Reference(TUR), Token, Payment App Instance Id, Comment Id, or Virtual Card Number. Returns all of the tokens associated with an account according to the scope of the indicated search request criteria. The response includes key state and informational data for each token, including the Token Unique Reference which is needed for subsequent token lifecycle management activities. Note - The Search API request must include only one of the available search methods Account PAN, Token Unique Reference, Token, Payment App Instance Id, Comment Id, Alternate Account Identifier, or Virtual Card Number. They cannot be used together in a single request. For Incontrol Issuers, searching based on a Real Card Number (RCN) will not be supported  and will return an 'EMPTY_RESULT' with a HTTP 200 in the response.
      operationId: Search for a Token
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SearchRequest'
      responses:
        "200":
          content:
            application/json:
              example:
                SearchResponse:
                  Accounts:
                    Account:
                    - AccountPanSuffix: "5641"
                      ExpirationDate: "0823"
                      Tokens:
                        Token:
                        - TokenUniqueReference: DAPLMC000014413649393db1856e435abcbff9fe23f13a3a
                          PrimaryAccountNumberUniqueReference: FAPLMC0000144136f8b0db3d2d1f4be4ad34818ab0bfce97
                          TokenSuffix: "5651"
                          ExpirationDate: "0926"
                          DigitizationRequestDateTime: 2023-08-03T05:10:45-05:00
                          TokenActivatedDateTime: 2023-08-03T05:11:13-05:00
                          FinalTokenizationDecision: A
                          CorrelationId: D0000059209898
                          CurrentStatusCode: A
                          CurrentStatusDescription: Active
                          CurrentStatusDateTime: 2023-08-09T05:08:12-05:00
                          ProvisioningStatusCode: S
                          ProvisioningStatusDescription: Provisioning successful
                          Suspenders: {}
                          TokenRequestorId: "50110030273"
                          TokenRequestorName: APPLE PAY
                          WalletId: "103"
                          PaymentAppInstanceId: 0423470BE037800153480333289372683153CD8EB9A9D09E
                          TokenType: S
                          StorageTechnology: S
                          LastComment: "614041166"
                          TokenDeletedFromConsumerApp: "false"
                          TokenRequestorConsumerFacingEntityName: APPLE PAY
                          Device:
                            DeviceId: '****2FAS****'
                            DeviceName: ACM
                            DeviceType: "21"
                            SecureElementId: 0423470BE037800153480333289372683153CD8EB9A9D09E
              schema:
                $ref: '#/components/schemas/SearchResults'
          description: Successful search response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResults'
          description: JSON object containing details of why the operation failed
      summary: Retrieves information associated with one or more tokens.
      tags:
      - Search
      x-mastercard-api-encrypted: true
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/activate:
    post:
      description: |
        Used to activate a token for a digitization that has been approved and provisioned, but requires additional cardholder authentication prior to activation. If the provisioning was not completed successfully, activation cannot be accomplished using Customer Service API. It is expected that a cardholder will complete the authentication process using an issuer's call center or using an issuer-supplied mobile application, and only then should the issuer use this API to activate the token.
      operationId: Token Activation
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenActivateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenActivateResults'
          description: Token Activation Response
      summary: Performs the first time activation of a token.
      tags:
      - Token Activate
      x-mastercard-api-encrypted: true
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/update:
    post:
      description: |
        Used to update Account PAN Mapping Information or Issuer Product Configuration ID associated to a provisioned token. To update a specific token, the API should be requested using the Token Unique Reference. To update all tokens mapped to a specific Account PAN, the API should be requested using the Account PAN. In either case, updates will only be applied to tokens in ACTIVE or SUSPENDED state, not those in IN PROGRESS or DELETED state. When updating Account PAN Mapping information, the Account PAN, Expiration Date, and Sequence Number may be updated individually or in any combination. Only the information provided will be updated. For Incontrol Issuers, updating Account Mapping Information for a Real Card Number (RCN) to provisioned token(s) will not be supported and will return an 'EMPTY_RESULT' with a HTTP 400 in the response.
      operationId: Update a token
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenUpdateResults'
          description: Token Update Response
      summary: Updates data belonging to one or more tokens.
      tags:
      - Token Update
      x-mastercard-api-encrypted: true
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/suspend:
    post:
      description: |
        Used to suspend an active token so that it may not initiate any new
        transactions. All authorizations for a SUSPENDED token will be declined.
        Tokens may be suspended by multiple parties (suspenders) concurrently.
        The token status is updated from ACTIVE to SUSPENDED when the first
        suspender triggers a suspend action. Additional suspenders can add their
        suspend action to the list of suspenders. Suspenders can unsuspend only
        their own suspend action. All suspenders need to perform an unsuspend
        action to move a token from SUSPENDED to ACTIVE. The token status will
        only change when the last suspender has unsuspended the token.

        For CoF tokens, the only two supported suspenders are issuer and token
        requestor.

        For Apple Pay tokens, there are some differences in behavior versus the
        general principles. An issuer may add themselves as a suspender to a
        token already suspended by a cardholder, as above. However, a cardholder
        cannot suspend a token already suspended by the issuer. As a special
        case for Apple Pay, an issuer may unsuspend (override) a token already
        suspended by a cardholder. However, a cardholder cannot unsuspend a
        token already suspended by the issuer.
      operationId: Suspend a token
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenSuspendRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSuspendResults'
          description: Response to a token suspension
      summary: Changes a token state from active to suspended.
      tags:
      - Token Suspend
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/unsuspend:
    post:
      description: |
        Used to unsuspend or resume a suspended token and return it to the
        active state where it may initiate new transactions. Tokens may be
        suspended by multiple parties (suspenders) concurrently. The token
        status is updated from ACTIVE to SUSPENDED when the first suspender
        triggers a suspend action. Additional suspenders can add their suspend
        action to the list of suspenders. Suspenders can unsuspend only their
        own suspend action. All suspenders need to perform an unsuspend action
        to move a token from SUSPENDED to ACTIVE. The token status will only
        change when the last suspender has unsuspended the token.

        For CoF tokens, the only two supported suspenders are issuer and token
        requestor.

        For Apple Pay tokens, there are some differences in behavior versus the
        general principles. An issuer may add themselves as a suspender to a
        token already suspended by a cardholder, as above. However, a cardholder
        cannot suspend a token already suspended by the issuer. As a special
        case for Apple Pay, an issuer may unsuspend (override) a token already
        suspended by a cardholder. However, a cardholder cannot unsuspend a
        token already suspended by the issuer.
      operationId: Unsuspend a token
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenUnsuspendRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenUnsuspendResults'
          description: Response to a token unsuspension
      summary: Changes a token state from suspended to active.
      tags:
      - Token Unsuspend
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/delete:
    post:
      description: |
        Used to delete a token so that it may not initiate any new transactions. All authorizations for a deleted token will be declined. A deleted token may not be returned to an active state.
      operationId: Token Delete
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDeleteResults'
          description: Response to a token deletion
      summary: Deletes a token.
      tags:
      - Token Delete
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/statushistory:
    post:
      description: |
        Used to retrieve the historical statuses and lifecycle events  for a token, such as suspended, resumed, and finally deleted. For any FPAN, Expiry Date or PSN update,  this API will also return the corresponding updated status as part of the historical data. Note: the initial activation of the token will not be returned  with this API. We recommend all our partners to do a 'Search'  to verify that the token was activated.
      operationId: Token Status History
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenStatusHistoryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenStatusHistoryResults'
          description: Response containing the history of a given token
      summary: Displays a token's previous statuses and lifecycle changes.
      tags:
      - Token Status History
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/comments:
    post:
      description: |
        Used to retrieve all comments associated with a token. Typically the response includes comments created earlier by Issuer Customer Service representatives detailing additional information about a particular inquiry or event. There may also be comments with warnings of potential fraud. These comments are created automatically by the MDES system when a Token requestor indicates a high risk of fraud during digitization.
      operationId: Token Comments
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenCommentsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCommentsResults'
          description: Response containing all of the comments for a given token
      summary: Displays comments previously submitted on a token.
      tags:
      - Token Comments
      x-content-type: application/json
      x-accepts: application/json
  /{id}/transactions:
    post:
      description: |
        Used to retrieve transactions performed by a token. It only returns transactions performed within the last 30 days, to help identify a particular token, or to identify a particular recent transaction. It is not intended to provide the full transaction history of a token or Account PAN. NOTE: The Transaction History API response is not supported for static Card on File (CoF) tokens.
      operationId: Transaction History
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenTransactionsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenTransactionsResults'
          description: Response containing transactions performed by the token in
            the last 30 days
      summary: Displays transactions performed with the token at any POI (Point of
        Interaction).
      tags:
      - Transactions
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/activationmethods:
    post:
      description: |
        Used to retrieve the available Activation Methods for a token that is awaiting activation. Activation Methods are the means by which a cardholder may complete cardholder authentication with the issuer beyond the scope of MDES. It is possible that there are no Activation Methods for a token when an issuer did not provide any cardholder-specific information with the Tokenization Authorization Request (TAR) pre-digitization network message response.
      operationId: Show Activation Methods
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenActivationMethodsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenActivationMethodsResults'
          description: 'Response containing Activation Methods for a token that is
            awaiting activation. '
      summary: Shows the activation methods available for an inactive token.
      tags:
      - Token Activation Methods
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/resendactivationcode:
    post:
      description: |
        Used to trigger the process of generating and sending a new Activation Code (for a specific token) to the cardholder via the requested Activation Method. When successful, a new Activation Code Expiration Date Time period will begin, and a new Activation Code will be sent to the issuer using the Activation Code Notification (ACN) pre-digitization network message. It can only be used to do this for Activation Methods that involve the external distribution of an Activation Code to the cardholder. For example, via email or SMS. It cannot be used to send a new activation code via the "Mobile Application" activation method.
      operationId: Send Activation Code
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenResendActivationCodeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResendActivationCodeResults'
          description: 'Response containing the token unique reference of the token
            which required the activation code. '
      summary: Initiates the sending of the Activation Code for a specific token to
        the account holder.
      tags:
      - Token Resend Activation Code
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/resetmobilepin:
    post:
      description: |
        Used to request that the Mobile PIN for a Mastercard Cloud-Based Payment token in a single issuer wallet is reset. The request is passed to the Credential Management System for processing. When the Mobile PIN is a token-level PIN (as opposed to a wallet-level PIN), the cardholder must choose a new PIN within 10 minutes of a Reset Mobile PIN action. Otherwise, the reset will need to be re-requested.
      operationId: Reset Mobile Pin
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenResetMobilePinRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResetMobilePinResults'
          description: JSON object containing the results of a mobile pin reset
      summary: Requests the reset of the PIN associated with a Mastercard Cloud-Based
        Payment token.
      tags:
      - Token Reset Mobile PIN
      x-content-type: application/json
      x-accepts: application/json
  /{id}/updatetokenassurance:
    post:
      description: |
        Used after an issuer has performed additional cardholder authentication to indicate an increased level of token assurance. It will only be applied to tokens that actually have a Token Assurance Level, and those that are in ACTIVE or SUSPENDED state.
      operationId: Token Assurance Update
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateTokenAssuranceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTokenAssuranceResults'
          description: JSON object containing the results of the update to the Token
            Assurance value
      summary: Changes the Assurance Level of an eligible token.
      tags:
      - Update Token Assurance
      x-content-type: application/json
      x-accepts: application/json
  /{id}/token/disablepaymentchannels:
    post:
      description: |
        Applicable to the India market only, this API is used to disable specific payment channels for a token.  A transaction submitted with a POS Entry mode for a disabled channel will be declined.  If disabledPaymentChannels are provided the current list of disabled channels will be returned.
      operationId: Disable Payment Channels
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/DisablePaymentChannelsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisablePaymentChannelsResults'
          description: Disable Payment Channels Response
      summary: Disables one or more payment channels associated with a token in the
        India market.
      tags:
      - Disable Payment Channels
      x-content-type: application/json
      x-accepts: application/json
  /{id}/tokenrequestorsearch:
    post:
      description: Provides the ability to search for Token Requestor Information
        based on the TokenRequestorId.
      operationId: Token Requestor Search
      parameters:
      - description: Static endpoint iteration number (Not API Version)
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: v2
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TokenRequestorSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRequestorSearchResults'
          description: Parameters returned when searching for a token requestor
      summary: API returns supported token requestors who support Token Connect
      tags:
      - Token Requestor Search
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    id:
      description: Static endpoint iteration number (Not API Version)
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: v2
        type: string
      style: simple
  requestBodies:
    SearchRequest:
      content:
        application/json:
          examples:
            Search by TUR:
              value:
                SearchRequest:
                  TokenUniqueReference: DAPL000014413602ee506ca2fe43d4891e3856fc4a6c7a
                  ExcludeDeletedIndicator: "true"
                  IncludeDeviceTokensOnly: "true"
                  ExcludeTokensDeletedFromConsumerApp: "true"
                  AuditInfo:
                    UserId: JTT047101111
                    UserName: A Name
                    Organization: Your Company
                    Phone: 555-3574
            Search by PAID:
              value:
                SearchRequest:
                  PaymentAppInstanceId: 0623470BE037500153680333289372683153CD8EB9B9D09G
                  ExcludeDeletedIndicator: "true"
                  IncludeDeviceTokensOnly: "true"
                  ExcludeTokensDeletedFromConsumerApp: "true"
                  AuditInfo:
                    UserId: JTT047101111
                    UserName: A Name
                    Organization: Your Company
                    Phone: 555-3574
            Search by Account Number:
              value:
                SearchRequest:
                  EncryptedAccountInformation:
                    EncryptedData:
                      CurrentAccount:
                        AccountPan: "5412345678901234"
                      PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
                      EncryptedKey: A1B2C3D4E5F6112233445566778899111
                      OaepHashingAlgorithm: SHA512
                      Iv: 1b9396c98ab2bfd195de661d70905a45
                  ExcludeDeletedIndicator: "true"
                  IncludeDeviceTokensOnly: "true"
                  ExcludeTokensDeletedFromConsumerApp: "true"
                  AuditInfo:
                    UserId: JTT047101111
                    UserName: A Name
                    Organization: Your Company
                    Phone: 555-3574
          schema:
            $ref: '#/components/schemas/Search'
      description: JSON object containing parameters to search for Tokens
      required: true
    TokenActivateRequest:
      content:
        application/json:
          examples:
            Activation by TUR:
              value:
                TokenActivateRequest:
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  CommentText: Confirmed cardholder identity
                  ReasonCode: C
                  AuditInfo:
                    UserId: A1435477
                    UserName: John Smith
                    Organisation: Any Bank
                    Phone: 555 1234
            Activation by AccountPAN:
              value:
                TokenActivateRequest:
                  EncryptedAccountInformation:
                    EncryptedData:
                      CurrentAccount:
                        AccountPan: "5412345678901234"
                    PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
                    EncryptedKey: A1B2C3D4E5F6112233445566
                    OaepHashingAlgorithm: SHA512
                    Iv: 1b9396c98ab2bfd195de661d70905a45
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  CommentText: Confirmed cardholder identity
                  ReasonCode: C
                  AuditInfo:
                    UserId”: A1435477
                    UserName: John Smith
                    Organization: Any Bank
                    Phone: 555 1234
          schema:
            $ref: '#/components/schemas/TokenActivate'
      description: JSON object containing parameters for activating a token
      required: true
    TokenUpdateRequest:
      content:
        application/json:
          examples:
            Update by TUR:
              value:
                TokenUpdateRequest:
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  CommentText: Cardholder has a new Account Pan
                  IssuerProductConfigurationId: ABC1020304
                  RemoveAlternateAccountIdentifierSuffix: "true"
                  UpdateWalletProviderIndicator: "0"
                  AuditInfo:
                    UserId: A1435477
                    UserName: John Smith
                    Organization: Any Bank
                    Phone: 555 1234
            Update AccountPAN:
              value:
                TokenUpdateRequest:
                  EncryptedAccountInformation:
                    EncryptedData:
                      CurrentAccount:
                        AccountPan: "5412345678901234"
                      NewAccount:
                        AccountPan: "5412345678901235"
                        ExpirationDate: "1227"
                      AccountPanSequenceNumber: "001"
                    PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
                    EncryptedKey: A1B2C3D4E5F6112233445566
                    OaepHashingAlgorithm: SHA512
                    Iv: 1b9396c98ab2bfd195de661d70905a45
                CommentText: Cardholder has a new Account Pan
                RemoveAlternateAccountIdentifierSuffix: "false"
                UpdateWalletProviderIndicator: "1"
                AuditInfo:
                  UserId: A1435477
                  UserName: John Smith
                  Organization: Any Bank
                  Phone: 555 1234
            Update FinancialAccountID:
              value:
                TokenUpdateRequest:
                  EncryptedAccountInformation:
                    EncryptedData:
                      CurrentAccount:
                        FinancialAccountId: NL91ABNA0417164300
                      NewAccount:
                        FinancialAccountId: NL91ABNA0417164301
                    PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
                    EncryptedKey: A1B2C3D4E5F6112233445566
                    OaepHashingAlgorithm: SHA512
                    Iv: 1b9396c98ab2bfd195de661d70905a45
                CommentText: Cardholder has a new Account Pan
                CurrentFinancialAccountInformation:
                  InterbankCardAssociationId”: "12345678901"
                  CountryCode: GBR
                RemoveAlternateAccountIdentifierSuffix: "false"
                UpdateWalletProviderIndicator: "1"
                AuditInfo:
                  UserId: A1435477
                  UserName: John Smith
                  Organization: Any Bank
                  Phone: 555 1234
            Update ProductConfigurationID:
              value:
                TokenUpdateRequest:
                  EncryptedAccountInformation:
                    EncryptedData:
                      CurrentAccount:
                        AccountPan: "5412345678901234"
                    PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
                    EncryptedKey: A1B2C3D4E5F6112233445566
                    OaepHashingAlgorithm: SHA512
                    Iv: 1b9396c98ab2bfd195de661d70905a45
                  CommentText: Cardholder has a new Account Pan
                  IssuerProductConfigurationId: ABC1020304
                  UpdateWalletProviderIndicator: "1"
                  AuditInfo:
                    UserId: A1435477
                    UserName: John Smith
                    Organization: Any Bank
                    Phone: 555 1234
          schema:
            $ref: '#/components/schemas/TokenUpdate'
      description: JSON object containing parameters for updating a token
      required: true
    TokenSuspendRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenSuspend'
      description: JSON object containing parameters for updating a token
      required: true
    TokenUnsuspendRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenUnsuspend'
      description: JSON object containing parameters for unsuspending a token
      required: true
    TokenDeleteRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenDelete'
      description: JSON object containing parameters for deleting a token
      required: true
    TokenStatusHistoryRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenStatusHistory'
      description: JSON object containing parameters for obtaining history of a token
      required: true
    TokenCommentsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenComments'
      description: JSON object containing parameters for obtaining all comments assocaited
        to a token
      required: true
    TokenActivationMethodsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenActivationMethods'
      description: JSON object containing parameters for obtaining authentication
        methods for a given token
      required: true
    TokenResendActivationCodeRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResendActivationCode'
      description: JSON object containing parameters required for resending an activation
        code for a given token
      required: true
    TokenTransactionsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenTransactions'
      description: JSON object containing parameters for obtaining transactions performed
        by a token in the last 30 days
      required: true
    TokenResetMobilePinRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResetMobilePin'
      description: JSON object containing parameters to initiate a mobile pin reset
      required: true
    UpdateTokenAssuranceRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateTokenAssurance'
      description: JSON object containing parameters to update the Token Assurance
        value
      required: true
    DisablePaymentChannelsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DisablePaymentChannels'
      description: JSON object containing parameters Disable selected payment channels
      required: true
    TokenRequestorSearchRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenRequestorSearch'
      description: Parameters to search for a token requestor
      required: true
  responses:
    SearchResponse:
      content:
        application/json:
          example:
            SearchResponse:
              Accounts:
                Account:
                - AccountPanSuffix: "5641"
                  ExpirationDate: "0823"
                  Tokens:
                    Token:
                    - TokenUniqueReference: DAPLMC000014413649393db1856e435abcbff9fe23f13a3a
                      PrimaryAccountNumberUniqueReference: FAPLMC0000144136f8b0db3d2d1f4be4ad34818ab0bfce97
                      TokenSuffix: "5651"
                      ExpirationDate: "0926"
                      DigitizationRequestDateTime: 2023-08-03T05:10:45-05:00
                      TokenActivatedDateTime: 2023-08-03T05:11:13-05:00
                      FinalTokenizationDecision: A
                      CorrelationId: D0000059209898
                      CurrentStatusCode: A
                      CurrentStatusDescription: Active
                      CurrentStatusDateTime: 2023-08-09T05:08:12-05:00
                      ProvisioningStatusCode: S
                      ProvisioningStatusDescription: Provisioning successful
                      Suspenders: {}
                      TokenRequestorId: "50110030273"
                      TokenRequestorName: APPLE PAY
                      WalletId: "103"
                      PaymentAppInstanceId: 0423470BE037800153480333289372683153CD8EB9A9D09E
                      TokenType: S
                      StorageTechnology: S
                      LastComment: "614041166"
                      TokenDeletedFromConsumerApp: "false"
                      TokenRequestorConsumerFacingEntityName: APPLE PAY
                      Device:
                        DeviceId: '****2FAS****'
                        DeviceName: ACM
                        DeviceType: "21"
                        SecureElementId: 0423470BE037800153480333289372683153CD8EB9A9D09E
          schema:
            $ref: '#/components/schemas/SearchResults'
      description: Successful search response
    TokenActivateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenActivateResults'
      description: Token Activation Response
    TokenUpdateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenUpdateResults'
      description: Token Update Response
    TokenSuspendResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenSuspendResults'
      description: Response to a token suspension
    TokenUnsuspendResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenUnsuspendResults'
      description: Response to a token unsuspension
    TokenDeleteResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenDeleteResults'
      description: Response to a token deletion
    TokenStatusHistoryResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenStatusHistoryResults'
      description: Response containing the history of a given token
    TokenCommentsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenCommentsResults'
      description: Response containing all of the comments for a given token
    TokenActivationMethodsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenActivationMethodsResults'
      description: 'Response containing Activation Methods for a token that is awaiting
        activation. '
    TokenResendActivationCodeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResendActivationCodeResults'
      description: 'Response containing the token unique reference of the token which
        required the activation code. '
    TokenTransactionsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenTransactionsResults'
      description: Response containing transactions performed by the token in the
        last 30 days
    TokenResetMobilePinResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResetMobilePinResults'
      description: JSON object containing the results of a mobile pin reset
    UpdateTokenAssuranceResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateTokenAssuranceResults'
      description: JSON object containing the results of the update to the Token Assurance
        value
    DisablePaymentChannelsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DisablePaymentChannelsResults'
      description: Disable Payment Channels Response
    TokenRequestorSearchResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenRequestorSearchResults'
      description: Parameters returned when searching for a token requestor
    ErrorsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsResults'
      description: JSON object containing details of why the operation failed
  schemas:
    Account:
      example:
        AlternateAccountIdentifierSuffix: "4300"
        InstitutionName: Financial Institution 1
        ExpirationDate: "1215"
        InterbankCardAssociationId: 12345678901
        AccountPanSuffix: "1234"
        FinancialAccountSuffix: "1234"
        CountryCode: GBR
        Tokens:
          Token:
          - VirtualCardNumberPanSuffix: "1234"
            ProvisioningStatusCode: S
            AccountPanSequenceNumber: "001"
            ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
            Suspenders:
              Suspender:
              - "W, I"
              - "W, I"
            VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
            CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
            ProvisioningStatusDescription: Provisioning successful
            FinalTokenizationDecision: A
            LastCommentId: ABC123456
            TokenSuffix: "7890"
            Source: ACCOUNT_ON_FILE
            PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
            TokenType: S
            CurrentStatusDescription: Active
            PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
            TokenRequestorConsumerFacingEntityName: BestPay
            CorrelationId: "98765432101234"
            TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
            TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
            StorageTechnology: S
            Auxiliary: "true"
            Device:
              DeviceType: "14"
              DeviceId: C2ZBY14310005664
              SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
              DeviceName: My Device
            TokenRequestorId: "212345678"
            TransactionCredentialGenerationStatus: BLOCKED
            CurrentStatusCode: A
            TokenAssuranceLevel: "1"
            ExpirationDate: "1026"
            DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
            VirtualCardNumberExpirationDate: "1215"
            WalletId: "123"
            TokenRequestorName: Popular High Street Merchant
            TokenDeletedFromConsumerApp: "false"
          - VirtualCardNumberPanSuffix: "1234"
            ProvisioningStatusCode: S
            AccountPanSequenceNumber: "001"
            ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
            Suspenders:
              Suspender:
              - "W, I"
              - "W, I"
            VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
            CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
            ProvisioningStatusDescription: Provisioning successful
            FinalTokenizationDecision: A
            LastCommentId: ABC123456
            TokenSuffix: "7890"
            Source: ACCOUNT_ON_FILE
            PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
            TokenType: S
            CurrentStatusDescription: Active
            PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
            TokenRequestorConsumerFacingEntityName: BestPay
            CorrelationId: "98765432101234"
            TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
            TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
            StorageTechnology: S
            Auxiliary: "true"
            Device:
              DeviceType: "14"
              DeviceId: C2ZBY14310005664
              SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
              DeviceName: My Device
            TokenRequestorId: "212345678"
            TransactionCredentialGenerationStatus: BLOCKED
            CurrentStatusCode: A
            TokenAssuranceLevel: "1"
            ExpirationDate: "1026"
            DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
            VirtualCardNumberExpirationDate: "1215"
            WalletId: "123"
            TokenRequestorName: Popular High Street Merchant
            TokenDeletedFromConsumerApp: "false"
      properties:
        AccountPanSuffix:
          description: Last 4 digits of Account PAN mapped (or to be mapped) to Token(s).
          example: "1234"
          maxLength: 4
          minLength: 4
          type: string
        FinancialAccountSuffix:
          description: "Last 4 digits of the financial account information mapped\
            \ (or to be mapped) to token(s). Conditional field, only present when\
            \ mapping is tied to a financial account."
          example: "1234"
          maxLength: 4
          minLength: 4
          type: string
        CountryCode:
          description: 'The country of the financial account. Expressed as a 3-letter
            (alpha-3) country code as defined in ISO 3166-1. Conditional field. Present
            when mapping is tied to a financial account. '
          example: GBR
          maxLength: 3
          minLength: 3
          type: string
        InterbankCardAssociationId:
          description: The id assigned by Mastercard to the financial institution.
            Conditional field. Present when mapping is tied to a financial account.
          example: 12345678901
          maxLength: 11
          minLength: 3
          type: number
        InstitutionName:
          description: The name of the financial institution associated with the account.
            Conditional field. Present when mapping is tied to a financial account.
          example: Financial Institution 1
          maxLength: 64
          minLength: 5
          type: string
        ExpirationDate:
          description: Expiration date of Account PAN mapped (or to be mapped) to
            Token(s). MMYY format.
          example: "1215"
          maxLength: 4
          minLength: 4
          type: string
        AlternateAccountIdentifierSuffix:
          description: "Alternate Account Identifier is a cardholder friendly reference\
            \ to a bank account. It is typically used to identify associated tokens\
            \ when the cardholder is unaware of their Account PAN. The Alternate Account\
            \ Identifier Suffix exposes just the last few characters of the full identifier,\
            \ in order to protect the full identifier from possible fraud. The suffix\
            \ may be up to 8 characters long."
          example: "4300"
          maxLength: 8
          minLength: 4
          type: string
        Tokens:
          $ref: '#/components/schemas/Tokens'
      type: object
    AccountData:
      description: "Contains an encrypted json object. Encrypted by the ephemeral\
        \ AES key using CBC mode (IV as provided in 'Iv', or zero if none provided)\
        \ and PKCS#7 padding.  The JSON object being encrypted will be defined in\
        \ the context of the API call."
      example:
        CurrentAccount:
          Token: "5598765432109876"
          VirtualCardNumber: "5412345678901234"
          FinancialAccountId: NL91ABNA0417164300
          AlternateAccountIdentifier: NL91ABNA0417164300
          AccountPan: "5412345678901234"
      properties:
        CurrentAccount:
          $ref: '#/components/schemas/AccountData_CurrentAccount'
      type: object
    Accounts:
      example:
        Account:
        - AlternateAccountIdentifierSuffix: "4300"
          InstitutionName: Financial Institution 1
          ExpirationDate: "1215"
          InterbankCardAssociationId: 12345678901
          AccountPanSuffix: "1234"
          FinancialAccountSuffix: "1234"
          CountryCode: GBR
          Tokens:
            Token:
            - VirtualCardNumberPanSuffix: "1234"
              ProvisioningStatusCode: S
              AccountPanSequenceNumber: "001"
              ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - "W, I"
                - "W, I"
              VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
              CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              Source: ACCOUNT_ON_FILE
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: BestPay
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Auxiliary: "true"
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                DeviceName: My Device
              TokenRequestorId: "212345678"
              TransactionCredentialGenerationStatus: BLOCKED
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
              VirtualCardNumberExpirationDate: "1215"
              WalletId: "123"
              TokenRequestorName: Popular High Street Merchant
              TokenDeletedFromConsumerApp: "false"
            - VirtualCardNumberPanSuffix: "1234"
              ProvisioningStatusCode: S
              AccountPanSequenceNumber: "001"
              ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - "W, I"
                - "W, I"
              VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
              CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              Source: ACCOUNT_ON_FILE
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: BestPay
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Auxiliary: "true"
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                DeviceName: My Device
              TokenRequestorId: "212345678"
              TransactionCredentialGenerationStatus: BLOCKED
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
              VirtualCardNumberExpirationDate: "1215"
              WalletId: "123"
              TokenRequestorName: Popular High Street Merchant
              TokenDeletedFromConsumerApp: "false"
        - AlternateAccountIdentifierSuffix: "4300"
          InstitutionName: Financial Institution 1
          ExpirationDate: "1215"
          InterbankCardAssociationId: 12345678901
          AccountPanSuffix: "1234"
          FinancialAccountSuffix: "1234"
          CountryCode: GBR
          Tokens:
            Token:
            - VirtualCardNumberPanSuffix: "1234"
              ProvisioningStatusCode: S
              AccountPanSequenceNumber: "001"
              ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - "W, I"
                - "W, I"
              VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
              CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              Source: ACCOUNT_ON_FILE
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: BestPay
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Auxiliary: "true"
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                DeviceName: My Device
              TokenRequestorId: "212345678"
              TransactionCredentialGenerationStatus: BLOCKED
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
              VirtualCardNumberExpirationDate: "1215"
              WalletId: "123"
              TokenRequestorName: Popular High Street Merchant
              TokenDeletedFromConsumerApp: "false"
            - VirtualCardNumberPanSuffix: "1234"
              ProvisioningStatusCode: S
              AccountPanSequenceNumber: "001"
              ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
              Suspenders:
                Suspender:
                - "W, I"
                - "W, I"
              VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
              CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
              ProvisioningStatusDescription: Provisioning successful
              FinalTokenizationDecision: A
              LastCommentId: ABC123456
              TokenSuffix: "7890"
              Source: ACCOUNT_ON_FILE
              PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
              TokenType: S
              CurrentStatusDescription: Active
              PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
              TokenRequestorConsumerFacingEntityName: BestPay
              CorrelationId: "98765432101234"
              TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
              TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
              StorageTechnology: S
              Auxiliary: "true"
              Device:
                DeviceType: "14"
                DeviceId: C2ZBY14310005664
                SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                DeviceName: My Device
              TokenRequestorId: "212345678"
              TransactionCredentialGenerationStatus: BLOCKED
              CurrentStatusCode: A
              TokenAssuranceLevel: "1"
              ExpirationDate: "1026"
              DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
              VirtualCardNumberExpirationDate: "1215"
              WalletId: "123"
              TokenRequestorName: Popular High Street Merchant
              TokenDeletedFromConsumerApp: "false"
      properties:
        Account:
          description: "When searching by Account PAN or by Payment App Instance Id,\
            \ the search response may contain more than one token. Each individual\
            \ token can be updated during its lifetime and associated to a different\
            \ Account PAN, or given a new Expiration Date. Different tokens within\
            \ a single search response may therefore have different Account PANs and/or\
            \ Expiration Dates. Account objects are used to group tokens that have\
            \ exactly the same Account PAN and Account PAN Expiration Date."
          items:
            $ref: '#/components/schemas/Account'
          type: array
      type: object
    ActivationMethod:
      example:
        ActivationMethodType: CLC
        ResendIndicator: "false"
        ActivationMethodValue: 555-123-4567
        ActivationMethodId: "123123122"
      properties:
        ActivationMethodType:
          description: |
            Type of activation method. Valid values:
              * "SMS" - Activation code sent in text message to masked mobile phone number
              * "EMA" - Activation code sent in email to masked email address
              * "ACC" - Cardholder to call automated call center phone number
              * "CLC" - Cardholder to call Call Center phone number
              * "WEB" - Website
              * "BAP" - Mobile application
              * "OBC" - Activation code spoken via call to cardholder on masked voice call phone number.
          example: CLC
          maxLength: 3
          minLength: 3
          type: string
        ActivationMethodValue:
          description: Activation method details value.
          example: 555-123-4567
          maxLength: 64
          minLength: 4
          type: string
        ActivationMethodId:
          description: Unique identifier of the activation method.
          example: "123123122"
          maxLength: 64
          minLength: 4
          type: string
        ResendIndicator:
          description: Whether the activation method can be used to re-send an activation
            code. Valid values are TRUE and FALSE.
          example: "false"
          maxLength: 5
          minLength: 4
          type: string
      required:
      - ActivationMethodId
      - ActivationMethodType
      - ActivationMethodValue
      type: object
    ActivationMethods:
      example:
        ActivationMethod:
        - ActivationMethodType: CLC
          ResendIndicator: "false"
          ActivationMethodValue: 555-123-4567
          ActivationMethodId: "123123122"
        - ActivationMethodType: CLC
          ResendIndicator: "false"
          ActivationMethodValue: 555-123-4567
          ActivationMethodId: "123123122"
      properties:
        ActivationMethod:
          description: The type of method of activating the token.
          items:
            $ref: '#/components/schemas/ActivationMethod'
          type: array
      type: object
    AuditInfo:
      example:
        UserName: John Smith
        Organization: Solid Bank Inc
        UserId: A1435477
        Phone: "5555551234"
      properties:
        UserId:
          description: "User ID (as assigned by the Issuer/Processor) of the Customer\
            \ Service Representative who triggered the API request. MDES is not the\
            \ system of record for this field and does not perform any duplicate checks\
            \ or other functional validations. The Issuer/Processor, must ensure that\
            \ the contents of this field comply with their internal system of record.\
            \ String of up to 50 characters."
          example: A1435477
          maxLength: 50
          minLength: 4
          type: string
        UserName:
          description: User Name of the Customer Service Representative who triggered
            the API request. String of up to 200 characters.
          example: John Smith
          maxLength: 200
          minLength: 4
          type: string
        Organization:
          description: Name of the Issuer or Processor to which the Customer Service
            Representative who triggered the API request belongs. String of up to
            200 characters.
          example: Solid Bank Inc
          maxLength: 200
          minLength: 4
          type: string
        Phone:
          description: Phone Number of the Customer Service Representative who triggered
            the API request. String of up to 20 characters. Optional.
          example: "5555551234"
          maxLength: 20
          minLength: 4
          type: string
      required:
      - Organization
      - UserId
      - UserName
      type: object
    Comment:
      description: A collection of datapoints applied as a note to the account by
        the issuer's customer support.
      example:
        AuditInfo:
          UserName: John Smith
          Organization: Solid Bank Inc
          UserId: A1435477
          Phone: "5555551234"
        CommentText: Cardholder called to activiate their digital card
        CommentId: ABC123456
        CommentDateTime: 2015-01-21T00:04:35.000Z
      properties:
        CommentId:
          description: Identifier for the comment.
          example: ABC123456
          maxLength: 256
          minLength: 4
          type: string
        CommentText:
          description: Comment text.
          example: Cardholder called to activiate their digital card
          maxLength: 500
          minLength: 1
          type: string
        CommentDateTime:
          description: Date and time that the comment was updated. Format - YYYY-MM-DDThh:mm:ssTZD
            .
          example: 2015-01-21T00:04:35.000Z
          maxLength: 24
          minLength: 24
          type: string
        AuditInfo:
          $ref: '#/components/schemas/AuditInfo'
      required:
      - AuditInfo
      - CommentDateTime
      - CommentId
      - CommentText
      type: object
    Comments:
      example:
        Comment:
        - AuditInfo:
            UserName: John Smith
            Organization: Solid Bank Inc
            UserId: A1435477
            Phone: "5555551234"
          CommentText: Cardholder called to activiate their digital card
          CommentId: ABC123456
          CommentDateTime: 2015-01-21T00:04:35.000Z
        - AuditInfo:
            UserName: John Smith
            Organization: Solid Bank Inc
            UserId: A1435477
            Phone: "5555551234"
          CommentText: Cardholder called to activiate their digital card
          CommentId: ABC123456
          CommentDateTime: 2015-01-21T00:04:35.000Z
      properties:
        Comment:
          items:
            $ref: '#/components/schemas/Comment'
          type: array
      type: object
    CurrentFinancialAccountInformation:
      description: Current Financial Account Information of the token(s) to be updated.
      example:
        InterbankCardAssociationId: "12345678901"
        CountryCode: GBR
      properties:
        InterbankCardAssociationId:
          description: "Current ICA associated with the Financial of the token(s)\
            \ to be updated. Conditional field, used for updating all tokens mapped\
            \ to a single Financial Account and must be present when 'CurrentFinancialAccountInformation.FinancialAccountId'\
            \ is present."
          example: "12345678901"
          maxLength: 11
          minLength: 3
          type: string
        CountryCode:
          description: "Current Country code associated with the Financial of the\
            \ token(s) to be updated. Expressed as a 3-letter (alpha-3) country code\
            \ as defined in ISO 3166-1.  Conditional field, used for updating all\
            \ tokens mapped to a single Financial Account and must be present when\
            \ 'CurrentFinancialAccountInformation.FinancialAccountId' is present."
          example: GBR
          maxLength: 3
          minLength: 3
          type: string
      type: object
    DisablePaymentChannels:
      example:
        DisablePaymentChannelsRequest:
          TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          DisabledPaymentChannels:
            DisabledChannel: CONTACTLESS
          AuditInfo:
            UserName: John Smith
            Organization: Solid Bank Inc
            UserId: A1435477
            Phone: "5555551234"
          EnableAllPaymentChannels: "FALSE"
      properties:
        DisablePaymentChannelsRequest:
          $ref: '#/components/schemas/DisablePaymentChannelsData'
      type: object
    DisablePaymentChannelsData:
      example:
        TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        DisabledPaymentChannels:
          DisabledChannel: CONTACTLESS
        AuditInfo:
          UserName: John Smith
          Organization: Solid Bank Inc
          UserId: A1435477
          Phone: "5555551234"
        EnableAllPaymentChannels: "FALSE"
      properties:
        TokenUniqueReference:
          description: "Unique reference of the token to be updated. Conditional field,\
            \ used for updating a single token."
          example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          maxLength: 48
          minLength: 48
          type: string
        DisabledPaymentChannels:
          $ref: '#/components/schemas/DisablePaymentChannelsData_DisabledPaymentChannels'
        EnableAllPaymentChannels:
          description: Used to enable all payment channels.  Will be assumed to be
            false if not present.
          example: "FALSE"
          maxLength: 5
          minLength: 4
          type: string
        AuditInfo:
          $ref: '#/components/schemas/AuditInfo'
      required:
      - AuditInfo
      - TokenUniqueReference
      type: object
    DisablePaymentChannelsResults:
      example:
        DisablePaymentChannelsResponse:
          DisabledPaymentChannels:
            DisabledChannel: CONTACTLESS
      properties:
        DisablePaymentChannelsResponse:
          $ref: '#/components/schemas/DisablePaymentChannelsResultsData'
      type: object
    DisablePaymentChannelsResultsData:
      example:
        DisabledPaymentChannels:
          DisabledChannel: CONTACTLESS
      properties:
        DisabledPaymentChannels:
          $ref: '#/components/schemas/DisablePaymentChannelsData_DisabledPaymentChannels'
      required:
      - DisabledPaymentChannels
      type: object
    Device:
      example:
        DeviceType: "14"
        DeviceId: C2ZBY14310005664
        SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
        DeviceName: My Device
      properties:
        DeviceId:
          description: "Serial number of the device provisioned with the token. May\
            \ be masked. Conditional field, not present for CoF tokens, and only present\
            \ when provided by a Wallet Provider. May be masked (by the Wallet Provider).\
            \ Example (unmasked) \"C2ZBY14310005664\". Example (masked) \"xxxxY1431xxxxxxx\"\
            ."
          example: C2ZBY14310005664
          maxLength: 64
          minLength: 5
          type: string
        DeviceName:
          description: "Nickname of the device provisioned with the token. Conditional\
            \ field, not present for CoF tokens, and only present when the Payment\
            \ App Provider has implemented the 'Get Device Info' MDES API."
          example: My Device
          maxLength: 64
          minLength: 5
          type: string
        DeviceType:
          description: |
            Type of the device provisioned with the token. Valid values: NOTE - Some values from 00-19 may indicate not only the physical form factor but also other attributes such as device technology and payment app specifications.
              * '00' - Card.
              * '01' - Mobile Network Operator (MNO) controlled removable secure element (SIM or UICC) personalized for use with a mobile phone or smartphone.
              * '02' - Key Fob.
              * '03' - Watch using a contactless chip or a fixed (non-removable) secure element not controlled by the MNO.
              * '04' - Mobile Tag.
              * '05' - Wristband.
              * '06' - Mobile Phone Case or Sleeve.
              * '07' - Mobile phone or smartphone with a fixed (non-removable) secure element controlled by the MNO, for example, code division multiple access (CDMA).
              * '08' - Removable secure element not controlled by the MNO, for example, memory card personalized for used with a mobile phone or smartphone.
              * '09' - Mobile Phone or smartphone with a fixed (non-removable) secure element not controlled by the MNO.
              * '10' - MNO controlled removable secure element (SIM or UICC) personalized for use with a tablet or e-book.
              * '11' - Tablet or e-book with a fixed (non-removable) secure element controlled by the MNO.
              * '12' - Removable secure element not controlled by the MNO, for example, memory card personalized for use with a tablet or e-book.
              * '13' - Tablet or e-book with fixed (non-removable) secure element not controlled by the MNO.
              * '14' - Mobile phone or smartphone with a payment application running in a host processor.
              * '15' - Tablet or e-book with a payment application running in a host processor.
              * '16' - Mobile phone or smartphone with a payment application running in the Trusted Execution Environment (TEE) of a host processor.
              * '17' - Tablet or e-book with a payment application running in the TEE of a host processor.
              * '18' - Watch with a payment application running in the TEE of a host processor.
              * '19' - Watch with a payment application running in a host processor.
            NOTE - Values from 20-99 exclusively indicate the form factor only without also indicating the storage technology.
              * '20' - Card.
              * '21' - Phone Mobile phone.
              * '22' - Tablet/e-reader Tablet computer or e-reader.
              * '23' - Watch/Wristband Watch or wristband, including a fitness band, smart strap, disposable band, watch add-on, and security/ID band.
              * '24' - Sticker.
              * '25' - PC PC or laptop.
              * '26' - Device Peripheral Mobile phone case or sleeve.
              * '27' - Tag Key fob or mobile tag.
              * '28' - Jewelry Ring, bracelet, necklace, and cuff links.
              * '29' - Fashion Accessory Handbag, bag charm, and glasses.
              * '30' - Garment Dress.
              * '31' - Domestic Appliance Refrigerator, washing machine.
              * '32' - Vehicle Vehicle, including vehicle attached devices.
              * '33' - Media/Gaming Device Media or gaming device, including a set top box, media player, and television.
              * '34' to '99' - Reserved for future form factors. Any value in this range may occur within form factor and transaction data without prior notice.
            Conditional field, not present for CoF tokens, and only present when supplied by the Payment App Provider.
          example: "14"
          maxLength: 2
          minLength: 2
          type: string
        SecureElementId:
          description: "Identifier of the secure element provisioned with the token.\
            \ Conditional field, not present for CoF tokens, and only present when\
            \ the token is provisioned to a secure element."
          example: 0416231B342G80015987657748933803102AC30A842F29F0
          maxLength: 48
          minLength: 48
          type: string
      type: object
    EncryptedAccountInformation:
      description: "Used when account data is supplied in Search, Activate or Update\
        \ APIs. Use only if account data is present, not required otherwise. "
      example:
        PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
        EncryptedKey: A1B2C3D4E5F6112233445566778899111
        EncryptedData:
          CurrentAccount:
            Token: "5598765432109876"
            VirtualCardNumber: "5412345678901234"
            FinancialAccountId: NL91ABNA0417164300
            AlternateAccountIdentifier: NL91ABNA0417164300
            AccountPan: "5412345678901234"
        Iv: 1b9396c98ab2bfd195de661d70905a45
        OaepHashingAlgorithm: SHA512
      properties:
        EncryptedData:
          $ref: '#/components/schemas/AccountData'
        PublicKeyFingerprint:
          description: |
            The fingerprint of the public key used to encrypt the ephemeral AES key.
          example: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          maxLength: 64
          minLength: 32
          type: string
        EncryptedKey:
          description: |
            One-time use AES key encrypted by the MasterCard public key (as identified by publicKeyFingerprint) using the OAEP or PKCS#1 v1.5 scheme (depending on the value of oaepHashingAlgorithm.
          example: A1B2C3D4E5F6112233445566778899111
          maxLength: 512
          minLength: 32
          type: string
        OaepHashingAlgorithm:
          description: |
            Hashing algorithm used with the OAEP scheme. Only present when EncryptedAccountInformation.EncryptedData is present. Must be either:
              * SHA256
              * SHA512.
          example: SHA512
          maxLength: 6
          minLength: 6
          type: string
        Iv:
          description: |
            The initialization vector used when encrypting data using the one-time use AES key. Must be exactly 16 bytes (32 character hex string) to match the block size. Only present when EncryptedAccountInformation.EncryptedData is present. If not present, an IV of zero is assumed.
          example: 1b9396c98ab2bfd195de661d70905a45
          maxLength: 32
          minLength: 32
          type: string
      required:
      - EncryptedData
      - EncryptedKey
      - Iv
      - OaepHashingAlgorithm
      - PublicKeyFingerprint
      type: object
    Error:
      properties:
        Source:
          description: "Unique identifier that attempts to define the field in error\
            \ when available.  If a specific field can't be identified, \"System\"\
            \ will be returned."
          example: INPUT
          maxLength: 64
          minLength: 6
          type: string
        ReasonCode:
          description: Indicator that identifies the reason for the error.
          example: MISSING_CONDITIONAL_FIELD
          maxLength: 100
          minLength: 5
          type: string
        ErrorCode:
          description: An identifier that represents additional detail for the reason
            of the error.
          example: E0010039
          maxLength: 100
          minLength: 4
          type: string
        Description:
          description: A textual description of the error that is appropriate for
            logging and may communicate additional details related to the reason code.
          example: Missing Conditional Field - either TokenUniqueReference or PaymentAppInstanceId.
          maxLength: 256
          minLength: 5
          type: string
        Recoverable:
          description: An indicator stating whether it is reasonable to retry a failed
            request.
          example: "false"
          maxLength: 5
          minLength: 4
          type: string
      type: object
    Errors:
      properties:
        Error:
          description: A collection of datapoints that describe a specific error event
            in response to an operation on the account.
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
    ErrorsResults:
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      type: object
    Search:
      example:
        SearchRequest:
          TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          IncludeDeviceTokensOnly: "false"
          AuditInfo:
            UserName: John Smith
            Organization: Solid Bank Inc
            UserId: A1435477
            Phone: "5555551234"
          PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
          EncryptedAccountInformation:
            PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
            EncryptedKey: A1B2C3D4E5F6112233445566778899111
            EncryptedData:
              CurrentAccount:
                Token: "5598765432109876"
                VirtualCardNumber: "5412345678901234"
                FinancialAccountId: NL91ABNA0417164300
                AlternateAccountIdentifier: NL91ABNA0417164300
                AccountPan: "5412345678901234"
            Iv: 1b9396c98ab2bfd195de661d70905a45
            OaepHashingAlgorithm: SHA512
          ExcludeDeletedIndicator: "true"
          ExcludeTokensDeletedFromConsumerApp: "false"
          CommentId: ABC123456
      properties:
        SearchRequest:
          $ref: '#/components/schemas/SearchData'
      type: object
    SearchData:
      example:
        TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        IncludeDeviceTokensOnly: "false"
        AuditInfo:
          UserName: John Smith
          Organization: Solid Bank Inc
          UserId: A1435477
          Phone: "5555551234"
        PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
        EncryptedAccountInformation:
          PublicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          EncryptedKey: A1B2C3D4E5F6112233445566778899111
          EncryptedData:
            CurrentAccount:
              Token: "5598765432109876"
              VirtualCardNumber: "5412345678901234"
              FinancialAccountId: NL91ABNA0417164300
              AlternateAccountIdentifier: NL91ABNA0417164300
              AccountPan: "5412345678901234"
          Iv: 1b9396c98ab2bfd195de661d70905a45
          OaepHashingAlgorithm: SHA512
        ExcludeDeletedIndicator: "true"
        ExcludeTokensDeletedFromConsumerApp: "false"
        CommentId: ABC123456
      properties:
        EncryptedAccountInformation:
          $ref: '#/components/schemas/EncryptedAccountInformation'
        PaymentAppInstanceId:
          description: |
            When present, the search will return tokens already present or to be provisioned to the specified Payment App instance. Note - This may contain the identifier of the Secure Element or a mobile device for some programs. Cannot be used together with any of the following search request parameters (AccountPan, TokenUniqueReference, Token, CommentId, or AlternateAccountIdentifier).
          example: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
          maxLength: 64
          minLength: 48
          type: string
        CommentId:
          description: |
            When present, the search will return one specific token linked to the comment. Cannot be used together with EncryptedAccountInformation
          example: ABC123456
          maxLength: 48
          minLength: 1
          type: string
        TokenUniqueReference:
          description: "A unique reference assigned to a token and used to identify\
            \ the token for the duration of its lifetime. When present, the search\
            \ will return one specific matching token. \n"
          example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
          maxLength: 48
          minLength: 48
          type: string
        ExcludeDeletedIndicator:
          description: |
            Indicates whether deleted tokens should be included or excluded from the search results. Valid values:
              * "true" - indicates deleted tokens are excluded from the search results.
              * "false" - indicates deleted tokens are included in the search results.
          example: "true"
          maxLength: 5
          minLength: 4
          type: string
        IncludeDeviceTokensOnly:
          description: "Gives issuers the choice to receive only device tokens mapped\
            \ to their payment credentials. This is an optional parameter, if the\
            \ issuer decides to not include this field in their \"Search\" request,\
            \ MDES will return all tokens mapped to the payment credentials (server,\
            \ device and COF based tokens). Valid values:\n  * \"true\" - When present\
            \ with the \"true\" value, MDES\nwill never return any server-based tokens\
            \ associated to the payment credentials. \n  * \"false\" - When present\
            \ with the \"false\" value, MDES will return all tokens\nmapped to the\
            \ payment credentials (server, device and COF based tokens).\n"
          example: "false"
          maxLength: 5
          minLength: 4
          type: string
        ExcludeTokensDeletedFromConsumerApp:
          description: "Gives issuers the choice to only receive device tokens that\
            \ are active on the consumer device. Tokens that have been deleted from\
            \ the consumer app (digital wallet)  but active in MDES will be excluded\
            \ when the response if set to true. This is an optional parameter, if\
            \ the issuer decides to not include this field in their \"Search\" request,\
            \ MDES will return all tokens including tokens deleted from the consumer\
            \ app but active in MDES. Valid values:\n  * \"true\" - When present with\
            \ the \"true\" value, MDES\nwill never return any tokens that are deleted\
            \ from the consumer app. \n  * \"false\" - When present with the \"false\"\
            \ value, MDES will return tokens \n  that are deleted from the consumer\
            \ app.\n"
          example: "false"
          maxLength: 5
          minLength: 4
          type: string
        AuditInfo:
          $ref: '#/components/schemas/AuditInfo'
      required:
      - AuditInfo
      type: object
    SearchResults:
      example:
        SearchResponse:
          Accounts:
            Account:
            - AlternateAccountIdentifierSuffix: "4300"
              InstitutionName: Financial Institution 1
              ExpirationDate: "1215"
              InterbankCardAssociationId: 12345678901
              AccountPanSuffix: "1234"
              FinancialAccountSuffix: "1234"
              CountryCode: GBR
              Tokens:
                Token:
                - VirtualCardNumberPanSuffix: "1234"
                  ProvisioningStatusCode: S
                  AccountPanSequenceNumber: "001"
                  ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - "W, I"
                    - "W, I"
                  VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
                  CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  Source: ACCOUNT_ON_FILE
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: BestPay
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Auxiliary: "true"
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                    DeviceName: My Device
                  TokenRequestorId: "212345678"
                  TransactionCredentialGenerationStatus: BLOCKED
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
                  VirtualCardNumberExpirationDate: "1215"
                  WalletId: "123"
                  TokenRequestorName: Popular High Street Merchant
                  TokenDeletedFromConsumerApp: "false"
                - VirtualCardNumberPanSuffix: "1234"
                  ProvisioningStatusCode: S
                  AccountPanSequenceNumber: "001"
                  ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - "W, I"
                    - "W, I"
                  VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
                  CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  Source: ACCOUNT_ON_FILE
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: BestPay
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Auxiliary: "true"
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                    DeviceName: My Device
                  TokenRequestorId: "212345678"
                  TransactionCredentialGenerationStatus: BLOCKED
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
                  VirtualCardNumberExpirationDate: "1215"
                  WalletId: "123"
                  TokenRequestorName: Popular High Street Merchant
                  TokenDeletedFromConsumerApp: "false"
            - AlternateAccountIdentifierSuffix: "4300"
              InstitutionName: Financial Institution 1
              ExpirationDate: "1215"
              InterbankCardAssociationId: 12345678901
              AccountPanSuffix: "1234"
              FinancialAccountSuffix: "1234"
              CountryCode: GBR
              Tokens:
                Token:
                - VirtualCardNumberPanSuffix: "1234"
                  ProvisioningStatusCode: S
                  AccountPanSequenceNumber: "001"
                  ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - "W, I"
                    - "W, I"
                  VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
                  CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  Source: ACCOUNT_ON_FILE
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: BestPay
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Auxiliary: "true"
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                    DeviceName: My Device
                  TokenRequestorId: "212345678"
                  TransactionCredentialGenerationStatus: BLOCKED
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
                  VirtualCardNumberExpirationDate: "1215"
                  WalletId: "123"
                  TokenRequestorName: Popular High Street Merchant
                  TokenDeletedFromConsumerApp: "false"
                - VirtualCardNumberPanSuffix: "1234"
                  ProvisioningStatusCode: S
                  AccountPanSequenceNumber: "001"
                  ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
                  Suspenders:
                    Suspender:
                    - "W, I"
                    - "W, I"
                  VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
                  CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
                  ProvisioningStatusDescription: Provisioning successful
                  FinalTokenizationDecision: A
                  LastCommentId: ABC123456
                  TokenSuffix: "7890"
                  Source: ACCOUNT_ON_FILE
                  PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                  TokenType: S
                  CurrentStatusDescription: Active
                  PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                  TokenRequestorConsumerFacingEntityName: BestPay
                  CorrelationId: "98765432101234"
                  TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                  TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                  StorageTechnology: S
                  Auxiliary: "true"
                  Device:
                    DeviceType: "14"
                    DeviceId: C2ZBY14310005664
                    SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                    DeviceName: My Device
                  TokenRequestorId: "212345678"
                  TransactionCredentialGenerationStatus: BLOCKED
                  CurrentStatusCode: A
                  TokenAssuranceLevel: "1"
                  ExpirationDate: "1026"
                  DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
                  VirtualCardNumberExpirationDate: "1215"
                  WalletId: "123"
                  TokenRequestorName: Popular High Street Merchant
                  TokenDeletedFromConsumerApp: "false"
      properties:
        SearchResponse:
          $ref: '#/components/schemas/SearchResultsData'
      type: object
    SearchResultsData:
      example:
        Accounts:
          Account:
          - AlternateAccountIdentifierSuffix: "4300"
            InstitutionName: Financial Institution 1
            ExpirationDate: "1215"
            InterbankCardAssociationId: 12345678901
            AccountPanSuffix: "1234"
            FinancialAccountSuffix: "1234"
            CountryCode: GBR
            Tokens:
              Token:
              - VirtualCardNumberPanSuffix: "1234"
                ProvisioningStatusCode: S
                AccountPanSequenceNumber: "001"
                ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
                Suspenders:
                  Suspender:
                  - "W, I"
                  - "W, I"
                VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
                CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
                ProvisioningStatusDescription: Provisioning successful
                FinalTokenizationDecision: A
                LastCommentId: ABC123456
                TokenSuffix: "7890"
                Source: ACCOUNT_ON_FILE
                PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                TokenType: S
                CurrentStatusDescription: Active
                PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                TokenRequestorConsumerFacingEntityName: BestPay
                CorrelationId: "98765432101234"
                TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                StorageTechnology: S
                Auxiliary: "true"
                Device:
                  DeviceType: "14"
                  DeviceId: C2ZBY14310005664
                  SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                  DeviceName: My Device
                TokenRequestorId: "212345678"
                TransactionCredentialGenerationStatus: BLOCKED
                CurrentStatusCode: A
                TokenAssuranceLevel: "1"
                ExpirationDate: "1026"
                DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
                VirtualCardNumberExpirationDate: "1215"
                WalletId: "123"
                TokenRequestorName: Popular High Street Merchant
                TokenDeletedFromConsumerApp: "false"
              - VirtualCardNumberPanSuffix: "1234"
                ProvisioningStatusCode: S
                AccountPanSequenceNumber: "001"
                ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
                Suspenders:
                  Suspender:
                  - "W, I"
                  - "W, I"
                VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
                CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
                ProvisioningStatusDescription: Provisioning successful
                FinalTokenizationDecision: A
                LastCommentId: ABC123456
                TokenSuffix: "7890"
                Source: ACCOUNT_ON_FILE
                PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                TokenType: S
                CurrentStatusDescription: Active
                PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                TokenRequestorConsumerFacingEntityName: BestPay
                CorrelationId: "98765432101234"
                TokenActivatedDateTime: 2015-01-21T00:04:35.000Z
                TokenUniqueReference: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
                StorageTechnology: S
                Auxiliary: "true"
                Device:
                  DeviceType: "14"
                  DeviceId: C2ZBY14310005664
                  SecureElementId: 0416231B342G80015987657748933803102AC30A842F29F0
                  DeviceName: My Device
                TokenRequestorId: "212345678"
                TransactionCredentialGenerationStatus: BLOCKED
                CurrentStatusCode: A
                TokenAssuranceLevel: "1"
                ExpirationDate: "1026"
                DigitizationRequestDateTime: 2022-01-21T00:04:35.000Z
                VirtualCardNumberExpirationDate: "1215"
                WalletId: "123"
                TokenRequestorName: Popular High Street Merchant
                TokenDeletedFromConsumerApp: "false"
          - AlternateAccountIdentifierSuffix: "4300"
            InstitutionName: Financial Institution 1
            ExpirationDate: "1215"
            InterbankCardAssociationId: 12345678901
            AccountPanSuffix: "1234"
            FinancialAccountSuffix: "1234"
            CountryCode: GBR
            Tokens:
              Token:
              - VirtualCardNumberPanSuffix: "1234"
                ProvisioningStatusCode: S
                AccountPanSequenceNumber: "001"
                ActivationCodeExpirationDateTime: 2022-01-21T00:04:35.000Z
                Suspenders:
                  Suspender:
                  - "W, I"
                  - "W, I"
                VirtualCardNumberIdentifier: 123e4567-e89b-12d3-a456-426614174000
                CurrentStatusDateTime: 2022-01-21T00:04:35.000Z
                ProvisioningStatusDescription: Provisioning successful
                FinalTokenizationDecision: A
                LastCommentId: ABC123456
                TokenSuffix: "7890"
                Source: ACCOUNT_ON_FILE
                PrimaryAccountNumberUniqueReference: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
                TokenType: S
                CurrentStatusDescription: Active
                PaymentAppInstanceId: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
                TokenRequestorConsumerFacingEntityName: BestPay
                CorrelationId: "98765432101234"
[...]
